<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz Interaktif</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div id="app">
      <h1>Selamat Datang di Quiz Interaktif</h1>
      <button id="start-quiz">Mulai Quiz</button>
      <div id="quiz-container" style="display: none">
        <div id="questions"></div>
        <button id="submit-quiz">Selesai</button>
      </div>
    </div>
    <script src="js/script.js"></script>
  </body>
</html>
